* {
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(0, 0%, 75%);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 1440px;
  min-width: 1110px;
  font-size: 18px;
}

.App {
  margin-left: 8rem;
}
button {
  background-color: hsl(180, 66%, 49%);
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}
a {
  text-decoration: none;
}

/* -------- navigation---------- */
.nav {
  display: flex;
  margin-top: 3rem;
}

.nav-links {
  margin-left: 3rem;
}

.nav-links a,
.login-btn,
.main-moto,
.intro,
.col > a {
  color: var(--primary-color);
}

.nav-links > a {
  margin-right: 2rem;
}
.buttons {
  margin: 0 auto 0 20rem;
}
.login-btn {
  margin-right: 1rem;
  background: none;
  border: none;
  outline: none;
}

/* -------end navigation--------- */

/* -------------main----------------- */
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.main-text {
  max-width: 400px;
}
h1 {
  margin-bottom: 0;
  text-align: left;
}
.main-moto {
  text-align: left;
  max-width: 250px;
  font-size: 0.6rem;
  margin-top: 0;
}

.work-tabl-img {
  max-width: 700px;
  max-height: 300px;
}
.btn-start-container {
  display: flex;
}
/* ---------------end main-------------------- */
/* ------------------input----------------------- */
.input-bar {
  border-radius: 5px;
  margin-top: 3rem;
  background-color: hsl(260, 8%, 14%);
  height: 5rem;
  width: 57rem;
  background-image: url("./images/bg-shorten-desktop.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.input-bar input {
  width: 45rem;
  height: 2.3rem;
  border-radius: 10px;
  margin-right: 0.8rem;
}

.input-btn input[type="text"]::placeholder {
  color: var(--primary-color);
  padding-left: 1rem;
}
.input-bar button {
  border-radius: 10px;
}
/* ------------------------end input--------------- */
/* ------------------------ input + advanced--------------- */
.input-stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* ------------------------ end input + advanced--------------- */
}
/* ------------------------advanced--------------- */
.adv-stn {
  background-color: hsl(229deg 28% 95%);
  padding: 5rem 0;
  margin-top: -2rem;
  width: 100%;
}
.adv-intro {
  width: 500px;
  margin: 0 auto;
}
.adv-details {
  display: flex;
  justify-content: center;
}

hr {
  width: 60%;
  height: 4px;
  background-color: hsl(180, 66%, 49%);
  border: none;
  margin: 5.55rem auto -6.11rem;
}
.adv-details > div:nth-child(1) {
  margin-top: 0;
}

.adv-details > div:nth-child(2) {
  margin-top: 1rem;
}

.adv-details > div:nth-child(3) {
  margin-top: 2rem;
}

.adv-img {
  width: 2rem;
  height: 2rem;
  background-color: hsl(257, 27%, 26%);
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 15rem -1.5rem 0;
}

.adv-featured {
  background-color: #fff;
  margin-left: 1rem;
  padding: 0.5rem;
  width: 20rem;
  text-align: left;
}
/* ------------------------end advanced--------------- */
/* ------------------------ Boost Links--------------- */
.boost {
  background-color: hsl(260, 8%, 14%);
  background-image: url("./images/bg-boost-desktop.svg");
  background-size: cover;
  height: 15rem;
}
.boost-title {
  color: #fff;
  padding-top: 3rem;
  margin-top: -1rem;
}
/* ------------------------end Boost Links------------- */
/* ------------------------Footer--------------- */
footer {
  display: flex;
  background-color: hsl(260, 8%, 14%);
  justify-content: space-evenly;
  padding-bottom: 3rem;
}

.col {
  display: flex;
  flex-direction: column;
}
.socials img {
  margin-right: 1rem;
}
.feature-name,
.foot-logo {
  color: #fff;
}
/* ------------------------end Footer--------------- */
