* {
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(0, 0%, 75%);
  --primary-color-cyan: hsl(180, 66%, 49%);
  --error-color-red: hsl(0, 87%, 67%);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.125rem;
}
.container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}
button {
  background-color: var(--primary-color-cyan);
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}
.green-btn:hover {
  background-color: hsl(180deg 55% 75%);
}

a {
  text-decoration: none;
}
.black-hover:hover {
  color: black;
}

/* -------- navigation---------- */
.nav-container {
  display: flex;
}
.nav {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  background-color: #fff;
  padding: 0 1rem;
}
.desktop-menu {
  display: none;
  width: 100%;
}
@media (min-width: 640px) {
  .desktop-menu {
    display: flex;
  }
}
.mobile-menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.mobile-menu svg {
  cursor: pointer;
}
@media (min-width: 640px) {
  .mobile-menu {
    display: none;
  }
}
.flex {
  display: flex !important;
}
.mobile-absolute-wrapper {
  display: none;
  justify-content: center;
  background-color: rgba(6, 3, 3, 0.1);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 5rem;
  left: 0;
  backdrop-filter: blur(2px);
}
.mobile-menu-container {
  background-color: hsl(257, 27%, 26%);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  height: fit-content;
  max-width: 20rem;
}
.menu-div {
  background-color: hsl(257, 7%, 63%);
  margin: 1em 0;
  width: 100%;
  height: 1px;
}
.nav-links {
  margin-left: 3rem;
  display: flex;
  width: 18rem;
  justify-content: space-between;
}

.nav-links a,
.login-btn,
.main-moto,
.intro,
.col > a {
  color: var(--primary-color);
}

.buttons {
  margin-left: auto;
}
.login-btn,
.nav-mobile {
  font-weight: 900;
  margin-right: 1rem;
  background: none;
  border: none;
  outline: none;
}

/* -------end navigation--------- */

/* -------------main----------------- */
.main {
  padding: 0 1em;
  display: flex;
  margin-top: 3em;
  margin-bottom: 4em;
}

.main-text {
  max-width: 400px;
}
h1 {
  margin-bottom: 0;
  text-align: left;
}
.main-moto {
  text-align: left;
  max-width: 250px;
  font-size: 0.6rem;
  margin-top: 0;
  margin-bottom: 1em;
}

.work-tabl-img {
  max-width: 50%;
  order: 0;
}
.btn-start-container {
  display: flex;
}
/* ---------------end main-------------------- */
/* ------------------input----------------------- */
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -11rem;
  align-items: center;
}
.input-bar {
  border-radius: 5px;
  margin-top: 3rem;
  background-color: hsl(260, 8%, 14%);
  height: 5rem;
  width: 75%;
  background-image: url("./images/bg-shorten-desktop.svg");
  background-size: cover;
  display: flex;
  align-items: center;
}
.input-bar input {
  width: 70%;
  height: 2.3rem;
  border-radius: 10px;
  margin-right: 0.8rem;
  padding-left: 1.5rem;
}

.input-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 1em;
}

.input-btn input[type="text"]::placeholder {
  color: var(--primary-color);
}
.emptyInput {
  border: 1px solid var(--error-color-red);
}
.input-btn input[type="text"].emptyInput::placeholder {
  color: var(--error-color-red);
}
.empty-input-text {
  margin-top: -1.3rem;
  font-size: 12px;
  color: var(--error-color-red);
  max-width: fit-content;
  margin-right: 45rem;
}
.input-bar button {
  border-radius: 10px;
}
/* ------------------------end input--------------- */

/* ------------------------advanced--------------- */
.copied-btn {
  background-color: black;
}
.copy-btn {
  border-radius: 5px;
  margin-right: 2rem;
  width: 5rem;
}
@media (max-width: 640px) {
  .copy-btn {
    margin: 0 auto;
    width: 80%;
  }
}
.shorten-link-showed {
  color: var(--primary-color-cyan);
  margin-right: 2rem;
  padding-left: 1.3em;
}

.shorted-link {
  width: 75%;
  flex-wrap: wrap;
  font-size: 0.8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 5px 0;
  margin: 0.5rem 0;
}
@media (max-width: 640px) {
  .shorted-link {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.origin-link-showed {
  margin-right: auto;
  padding-left: 1rem;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.short-link-copy-btn {
  display: flex;
  align-items: center;
}
@media (max-width: 640px) {
  .short-link-copy-btn {
    flex-direction: column;
  }
}

.adv-title {
  width: 70%;
  padding: 0 2em;
  margin: 0 auto;
}

.adv-stn {
  background-color: hsl(229deg 28% 95%);
  padding: 5rem 0;
  position: relative;
  width: 100%;
}
.adv-intro {
  margin: 0 auto;
  width: 70%;
}
.adv-details {
  margin: 0 auto;
  max-width: 55rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 4em;
}
@media (min-width: 900px) {
  .adv-details {
    flex-direction: row;
    justify-content: space-between;
  }
}
.adv-details-item {
  width: 100%;
  max-width: 16rem;
  position: relative;
  z-index: 1;
}

.green-stripe {
  position: absolute;
  width: 0.6rem;
  background-color: var(--primary-color-cyan);
  height: 35rem;
  top: -5rem;
  left: 7.75rem;
}
@media (min-width: 900px) {
  .green-stripe {
    height: 0.6rem;
    left: -5rem;
    top: 11rem;
    width: 30rem;
  }
}
@media (max-width: 375px) {
  .green-stripe {
    left: 7.6rem;
  }
}

.adv-details > div:nth-child(1) {
  margin-top: 0;
}

.adv-details > div:nth-child(2) {
  margin-top: 2rem;
}

.adv-details > div:nth-child(3) {
  margin-top: 3rem;
}
@media (max-width: 899px) {
  .adv-details > div:nth-child(3) {
    margin-top: 2rem;
  }
}

.adv-img {
  width: 20%;
  margin-right: 8em;
  margin-bottom: -2em;
  background-color: hsl(257, 27%, 26%);
  border-radius: 50%;
  padding: 0.4rem;
}
@media (max-width: 375px) {
  .adv-img {
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  .adv-img {
    margin-right: 0;
  }
}

.adv-featured {
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  text-align: left;
}
@media (max-width: 375px) {
  .adv-featured {
    margin: 0 auto;
  }
}
/* ------------------------end advanced--------------- */
/* ------------------------ Boost Links--------------- */
.boost {
  background-color: hsl(260, 8%, 14%);
  background-image: url("./images/bg-boost-desktop.svg");
  background-size: cover;
  width: 100%;
  height: 15rem;
}
@media (max-width: 375px) {
  .boost .green-btn {
    width: 60%;
    height: 20%;
  }
}
.boost-title {
  color: #fff;
  padding-top: 3rem;
  margin-top: -1rem;
}
/* ------------------------end Boost Links------------- */
/* ------------------------Footer--------------- */
footer {
  width: 100%;
  display: flex;
  background-color: hsl(260, 8%, 14%);
  justify-content: space-evenly;
  padding-bottom: 3rem;
}
@media (max-width: 375px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.col {
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media (max-width: 375px) {
  .col {
    text-align: center;
  }
}
.socials img {
  margin-right: 1rem;
}
@media (max-width: 375px) {
  .socials {
    margin-top: 2em;
  }
}
.feature-name,
.foot-logo {
  color: #fff;
}
/* ------------------------end Footer--------------- */

/* ---------------mobile-------------------- */
@media (max-width: 375px) {
  .logo {
    text-align: left;
  }
  .nav-container {
    flex-direction: column;
    background-color: hsl(257, 27%, 26%);
    padding: 2rem;
    border-radius: 10px;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    line-height: 3.6;
  }
  .nav-links a {
    color: #fff;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .login-btn {
    color: #fff;
  }

  /* -----------------main mobile------------------- */
  .main {
    flex-direction: column;
    padding: 0 1em;
  }
  .btn-start-container {
    justify-content: center;
  }
  .main-text h1 {
    text-align: center;
  }
  .main-moto {
    margin: 1em auto;
    text-align: left;
    line-height: 2.6;
  }
  .work-tabl-img {
    order: -1;
    max-width: calc(200% / 2);
  }
  .get-start-btn {
    padding: 1em 3em;
  }
  /* -------------input----------- */
  .input-btn {
    flex-direction: column;
    margin-left: 1em;
  }

  .input-btn input,
  .input-btn button {
    width: 90%;
  }
}
